force-app/main/default/flows/ContractAndForm_AI_PopulateMergeFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Populate_Merge_Fields</name>
        <label>Populate Merge Fields</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>FlowContractFieldMerge</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Contract</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contract</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowContractFieldMerge</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <description>Record-triggered flow to call the Contract Merge Field Service and populate merge fields in a contract and form record&apos;s Waiver Text.</description>
    <environments>Default</environments>
    <interviewLabel>ContractAndForm AI PopulateMergeFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContractAndForm AI PopulateMergeFields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Contract</name>
        <label>Update Contract</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>Populate_Merge_Fields.updatedContract</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Populate_Merge_Fields</targetReference>
        </connector>
        <object>TREX1__Contract_and_Form__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
